
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="~/Template/bootstrap/css/bootstrap.min.css" />
    <link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Template/css/local.css" />
    <script type="text/javascript" src="~/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <!-- you need to include the shieldui css and js assets in order for the charts to work -->
    <link rel="stylesheet" type="text/css" href="https://www.shieldui.com/shared/components/latest/css/light-bootstrap/all.min.css" />
    <script type="text/javascript" src="https://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
    <script type="text/javascript" src="https://www.prepbootstrap.com/Content/js/gridData.js"></script>

    <link rel="stylesheet" type="text/css" href="~/css/login.css" />
    <script src="~/js/notify.js"></script>

</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Contractor Management System</a>
            </div>

        </nav>
        <div id="page-wrapper">

            <div class="row">
                <div class="col-lg-8"> </div>
                <div class="col-lg-4">
                    <div class="signup-form">
                        @using (Html.BeginForm("Register", "Home", FormMethod.Post, new { id = "register" }))
                        {
                            <h2>Register</h2>
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa fa-address-card-o"></i></span>
                                <input type="text" class="form-control" placeholder="Vendor Code" name="vendorcode" id="vendorcode">
                                <span class="input-group-btn">
                                    <button class="btn btn-info" type="button" onclick="ValidateVendor()">Validate</button>
                                </span>
                            </div>
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                                <input type="text" class="form-control" placeholder="Vendor Name" name="vendorname" id="vendorname" readonly>
                            </div>
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa fa-mobile"></i></span>
                                <input type="text" class="form-control" placeholder="Mobile No" name="mobno" id="mobno" readonly>
                            </div>
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                                <input type="text" class="form-control" placeholder="Email" name="email" id="email" readonly>
                            </div>
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa fa-check-circle-o"></i></span>
                                <input type="text" class="form-control" placeholder="OTP" name="otp" id="otp">
                                <span class="input-group-btn">
                                    <button class="btn btn-info" type="button" onclick="ValidateOTP()">Validate OTP</button>
                                </span>
                            </div>
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <input type="password" class="form-control" placeholder="Password" name="password" id="password">
                            </div>
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <input type="password" class="form-control" placeholder="Confirm Password" id="con_password">
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-info btn-lg" disabled id="btnRegister" onclick="RegisterVendor()">Register</button>
                                <button type="submit" class="btn btn-info btn-lg" style="display:none;" id="btnSubmit">Submit</button>
                                <button type="button" class="btn btn-info btn-lg" onclick="generateOTP()" id="btnOTP">Get OTP</button>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!--
        This section initializes the chart widgets and a grid component,
        which visualize records and allow sorting and paging.
        For more information visit:
        http://www.shieldui.com/documentation/javascript.chart/getting.started
        http://www.shieldui.com/documentation/grid/javascript/getting.started
        http://www.shieldui.com/documentation/datasource/javascript/getting.started
    -->

</body>
</html>




    



<script>
    function ValidateVendor() {
        debugger
        var vendorno = $("#vendorcode").val();
        var url = "../Home/ValidateVendor";
        var data = { vendorno: vendorno }
        if ($("#vendorcode").val() != "") {
            $.post(url, data, function (result) {
                debugger
                console.log(result)
                if (result.length > 0) {
                    $("#vendorname").val(result[0]["VENDOR_NAME"])
                    $("#mobno").val(result[0]["MOBILE_NO"])
                    $("#email").val(result[0]["EMAIL"])
                    $("#vendorcode").removeClass("error");
                }
                else {
                    $("#vendorcode").notify("Vendor Not Registered", { position: "left" }, "warn");
                }


            });
        }
        else {
            $("#vendorcode").addClass("error");
        }
    }
    function generateOTP() {

        // Declare a digits variable
        // which stores all digits
        var digits = '0123456789';
        let OTP = '';
        for (let i = 0; i < 4; i++) {
            OTP += digits[Math.floor(Math.random() * 10)];
        }

        var vendorno = $("#vendorcode").val();
        var url = "../Home/SaveOTP";
        var data = { vendorno: vendorno, otp: OTP }
        $.post(url, data, function (result) {

        });

    }

    function ValidateOTP() {
        debugger
        var vendorno = $("#vendorcode").val();
        var OTP = $("#otp").val();
        var url = "../Home/ValidateOTP";
        var data = { vendorno: vendorno, otp: OTP }
        if ($("#otp").val() != "") {
            $.post(url, data, function (result) {
                debugger
                if (result == "True") {
                    $("#btnRegister").removeAttr('disabled');
                    $("#btnOTP").attr('disabled', 'disabled');
                }
                else {
                    $("#otp").notify("Incorrect OTP", { position: "left" }, "error");
                }
            });
        }
        else {
            $("#otp").addClass("error");
        }

    }

    function RegisterVendor() {
        debugger
        var vendorno = $("#vendorcode").val();
        var OTP = $("#otp").val();
        var password = $("#password").val();
        var url = "../Home/RegisterVendor";
        var data = { vendorno: vendorno, otp: OTP, password: password }
        var valid = true;
        if ($("#password").val() == "" || $("#con_password").val() == "") {
            $("#password").addClass("error");
            $("#con_password").addClass("error");
            valid = false;
        }
        else if ($("#password").val() == "") {
            $("#password").addClass("error");
            valid = false;
        }
        else if ($("#con_password").val() == "") {
            $("#con_password").addClass("error");
            valid = false;
        }
        else if ($("#password").val() != $("#con_password").val()) {
            $("#password").notify("Password Doesnot Match", { position: "left" }, "info");
            $("#password").removeClass("error");
            $("#con_password").removeClass("error");
            valid = false;
        }
        if (valid == true) {
            $.post(url, data, function (result) {
                debugger
                if (result == "Success") {
                    window.location.href = "../Home/Login";
                }
                else if (result == "Already Registered") {
                    $(".signup-form").notify("The user already registered!!! Please Login..", { position: "top" }, "info");
                    setTimeout(
                          function () {
                              window.location.href = "../Home/Login";
                          }, 5000);

                }

            });
        }

    }


</script>
