
@{
    ViewBag.Title = "Contractor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<ul class="breadcrumb">
    <li><a href="@Url.Action("../Home/Index")">Third Party Approval</a></li>
    <li class="active">Contractor</li>
</ul>

<div class="col-lg-12">
    <h2>Contractor Information</h2>
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <div class="col-lg-10">
                <h3 class="panel-title">Pending Contractors</h3>
            </div>
            <div class="col-lg-2 text-right">
                <div class="input-group">

                </div>
            </div>
        </div>
        <div class="panel-body">
            @*<form method="post" action="" id="empform">*@
            <input type="hidden" id="USER_TYPE" name="USER_TYPE" value="EMPLOYEE" />




            <div class="col-sm-12">
                <div class="form-group row">

                    <div class="table-responsive text-nowrap">
                        <!--Table-->
                        <table class="table table-striped">

                            <!--Table head-->
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Contractor ID</th>
                                    <th scope="col">Contractor Name</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <!--Table head-->
                            <!--Table body-->
                            <tbody id="EmpTable"></tbody>
                            <!--Table body-->

                        </table>


                        <!--Table-->
                    </div>
                </div>


            </div>



        </div>
    </div>
</div>







<style>
    tbody {
        counter-reset: row;
        /* Set the row counter to 0 */
    }

        tbody tr::before {
            counter-increment: row;
            /* Increment the row counter*/
            content: counter(row);
            /* Display the row */
        }
</style>



<script>
    $(document).ready(function () {
        var url = "../ThirdParty/GetAllPendingContractorsList";
        var data = { }
        $.post(url, data, function (result) {
            debugger
            if (result.length > 0) {
                $("#EmpTable").empty();
                for (var i = 0; i < result.length; i++) {
                    var ID = result[i]["ID"];
                    var $newLinkTarget = '@Url.Action("ContractorDetails", "ThirdParty")?CONTRACTOR_ID=' + ID + '';
                    var ss = "";
                    
                    $("#EmpTable").append("<tr id='tr_" + result[i]["ID"] + "'>" +
                                                   "<td>" + result[i]["VENDOR_CODE"] + "</td>" +
                                                   "<td>" + result[i]["CONTRACTOR_NAME"] + "</td>" +
                                                   "<td><a href='" + $newLinkTarget + "'>View</a></td>" +
                                               "</tr>");
                }

            }
            else {
                $("#EmpTable").empty();
                $("#EmpTable").append("<tr><td colspan='3' align='center'> <b>NO DATA FOUND</b> </td></tr>");
            }

        })
    });
</script>